body {
    background: #FF9B75;
    color:rgb(255, 255, 255);
}

.galerie {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: none;
 }

li {
    color: blue;
    width: 30%;
    margin: 1rem;
}
 img {
     width: 100%;
 }

h1 {
    color: pink;
}